altgraph==0.17.5
customtkinter==5.2.2
darkdetect==0.8.0
packaging==26.2
pefile==2024.8.26
pillow==12.2.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pywin32-ctypes==0.2.3
comtypes==1.4.16
pystray==0.19.5
six==1.17.0

